
body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  width: 100vw;
  font-size: 16px;
}

a {
  color: #dc0514;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #ff3847;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}





.contenedor-filtros-tapas{
  width: 70%;
  padding: 25px;
    display: flex;
    border-top: 7px solid red;
    flex-direction: column;

}

.tapa-textBox {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.tapa-textBox input{
  margin: 15px;
  padding: 15px 66px 15px 17px;
  border-radius: 12px;
}

.tapa-textBox button{
  width: 109px;
  height: 53px;
  
}



.cont-filtro-tapa{
  display: flex;
  justify-content: center;
}

.filtros-tapas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filtros-tapas li input{
  border-radius: 48px;
  width: 180px;
  padding: 15px 30px;
  background: white;

}

.form-tapas{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-tapas,.contenedor-filtros-tapas.wrapper{
  background: rgb(234,234,234);
  
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding:  50px 40px 20px 40px;
}

.container-filtro{
  position: relative;
  width: 50%;
  border: 1px solid black;
  margin-top: 30px;
  margin-right: 35px;

}

input[type="range"]{
  -webkit-apparance: none;
  -moz-appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 1%;
  background-color: transparent;
  pointer-events: none;
}
/*
.slider-track{
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  border: 5px;
  border-radius: 5px;
}
*/
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}


input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}

input[type="range"]::-ms-track{
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-color: #333;
  cursor: pointer;
  border-radius: 35px;
  pointer-events: auto;
  margin-top: -9px;
  pointer-events: auto;

}
input[type="range"]::-moz-range-track{
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #333;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  margin-top: -9px;
  pointer-events: auto;
}

input[type="range"]::-ms-track{
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #333;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  margin-top: -9px;
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb{
  background-color: #ffff;
  border: 3px solid #333;
}

.range{
  appearance: none;
  
  background-color: #012;
  border-radius: 25px;
}
.values{
  /*background-color: #333;
  width: 32%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #d5d5d5;*/
}
.container-filtro .range1,.range2{
  position: absolute;
  bottom: 16px;
}
.range1{
  left:1% ;
}

.range2.month, .range2.year{
  right: 0px;
}
.values:before{
 /* content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid #3264fe;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;*/
}
.contenedor-elementos{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 
  
}

.contenedor-elementos .contenedor-tapas{
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    align-items: stretch;
}

.contenedor-tapas .fecha-edicion .fecha{
  background: red;
  color: white;
  padding: 3px 10px;
  margin-bottom: 22px;

}


.contenedor-elementos #contenedor-img-tapas{

      width: 100%;
      height: 340 px;
      display: flex;
      align-items: flex-end;

}


.contenedor-elementos .fecha-edicion{
  display: flex;
  position: relative;
  top: 15px;
  justify-content: space-between;
  padding: 0px 5px;
}
@media only screen and (min-width: 960px) {
  .fecha-edicion{
      width: 100%;
  }
}
@media only screen and (min-width: 800px) {

  .contenedor-elementos .contenedor-tapas{
    margin: 0px 40px;
    width: 24%;
  }
.contenedor-elementos .contenedor-tapas h3{
  align-items: flex-end;
}

}

#contenedor-img-tapas img{
  
  width: 100%;
  object-fit: cover;
  height: 55vh;
}






.contenedor-contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-contacto .titulo-princ-am h1{
  text-align: center;
}

.contenedor-contacto.titulo-princ-am.subrayado-amarillo.title{
  width: 170px;
  left: 0;
}
.contenedor-politicas .titulo-princ-am{
  text-align: center;
  width: 100%;
}
.contenedor-politicas{
  width: 55%;
}
.danger{
  color: red;
}

.form-check{
  margin-top: 5px;
  margin-bottom: 15px !important;
}

.btn-enviar{
  width: auto !important;
  color: red;
}

.btn-enviar .btn-primary{
  background-color: #dc0514 !important;
  border: none;
}
.contenedor-navegador-tapas .titulo-princ-am{
  width: 31%;
}
.container-faq{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  text-align: center;
  /*box-shadow: ;*/
  
}
.container-faq .titulo-princ-am{
  width: 50%;
}
.accordion{
  width: 70%;
}

.redes-soc{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
}
.redes-soc li {
  margin: 0px 15px;
}

.contenedor-medio{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.redes-soc li img{
  
  height: 25px;
}



.suscribe_box{
  background: url(../images/suscribe.jpg) no-repeat center bottom;
  background-size: cover;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.titulo-princ-am{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0px 5%;
}

.titulo-princ-am h1{
  padding-left: 4%;
  margin-bottom: 0px;
}

#edicion{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.subrayado-amarillo{
  padding: 9% 3%;
  position: relative;
  background: yellow;
  z-index: -1;
}
.subrayado-amarillo.title{
  position: relative;
  bottom: 15px;
  padding: 5px 20px;


}

.subrayado-amarillo, .title{
  
}
.subrayado-amarillo.tapa{
  width: 70px;
  bottom: 30px;
}


/*# sourceMappingURL=main.css.map */





